/* Colors */

$color-light: #119da4;
$color-main: #13505b;
$color-white: #ccc;
$color-black: #040404;
$color-type: #3c4859;

.friends {
    margin-bottom: 60px;

    .article {
        background: var(--color-white-light);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;
        position: relative;

        // .article-entry {}
    }

    &-links {
        a {
            background: var(--color-white-light);
            border-radius: 8px;
            //border-style: dashed;
            //border-width: 1px;
            display: block;
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
            padding: 15px 20px;
            position: relative;
        }

        a:hover {
            box-shadow: 0 8px 12px var(--color-white);
        }
    }
}
