<div class="widget-wrap widget-view">
  <div class="widget-title"><span>浏览量</span></div>
  <div class="widget-inner">
	  <span id="busuanzi_container_site_pv">
		本站总访问<span id="busuanzi_value_site_uv"></span>次
	  </span>
  </div>
</div>